.container{
    width: 50%;
    margin-top: 150px;
    background-color: rgba(39, 39, 39, 0.315);
    border: none;
    border-radius: 10px ;
}
h2{
    padding: 4px;
    text-align: center;
    color: white;
}
.form-group{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: auto;
}
button{
    margin-left: 9px;
}
.list-group{
    margin-left: -11px;
    margin-right: 15px;

}
li{
    margin: 2px;
    margin-bottom: 12px;
    padding: 3px;
    padding-left: 9px;
    background-color: black !important;
    color: white !important;
    border-radius: 5px;
    list-style-type: none;
}
.list-items{
    display: flex;
}
.list-items .list-item-list{
    flex: 1;
}
.list-items .list-item-icons{
    padding-left: 5px;
    font-size: 25px;
    cursor: pointer;
}
#complete{
    color: green;
}
#edit{
    color: blue;
}
#delete{
    color: red ;
}
#list-item{
    text-decoration: line-through;
    opacity: 0.2;
}


